{% extends 'base.html.twig' %}

{% block title %}USER PROFILE
{% endblock %}

{% block body %}
	<h1>PROFILE OF THE USER
	</h1>
	<img src="{{app.user.image}}" alt="{{ 'Profile image of ' ~ app.user.username }}" class="w-16 h-16 mb-4 rounded-full">
	{{ form(form) }}{% endblock %}
