@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  @apply text-lg leading-relaxed text-violet-950;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
  @apply mb-2 font-bold text-violet-600;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  @apply bg-violet-950 text-slate-100;
  content: attr(data-tooltip);
  position: absolute;
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  pointer-events: none;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.premium-bg {
  background-image: url("/img/grid-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
