{% extends 'base.html.twig' %}

{% block title %}
	All Public Notes
{% endblock %}

{% block body %}
	<h1>All Public Notes</h1>
	{% for  message in app.flashes('error') %}

		<div class=''>
			<p>{{message}}</p>

		</div>

	{% endfor %}
	{% for item in all_notes %}
		{{ dump(item) }}
		<a href="{{ path('app_note_show', {'slug':item.slug})}}">
			SHOW
		</a>

		{% set lastMonth=  date('2024-07-07')%}

		Published
		{{lastMonth|time_diff}}
		ago.
	{% endfor %}


{% endblock %}
