{% extends 'base.html.twig' %}

{% block title %}
	{{note.title}}
{% endblock %}

{% block body %}
	SHOW A NOTE
	<h1>{{note.title}}</h1>
	<pre>
		{{ dump(note) }}
	</pre>
	<a href="{{path('app_note_all')}}">
		Back to all notes
	</a>
{% endblock %}
