{% extends 'base.html.twig' %}

{% block title %}
	{{creator.username}}'s notes
{% endblock %}

{% block body %}
	<h1>{{creator.username}}'s notes</h1>
	{% for item in userNotes %}
		{{ dump(item) }}
		<a href="{{ path('app_note_show', {'slug':item.slug})}}">
			SHOW
		</a>


	{% endfor %}


{% endblock %}
