{% extends 'base.html.twig' %}

{% block title %}Subscription !
{% endblock %}

{% block body %}


	<div class="w-full h-full p-6 py-5 mt-8 text-center rounded-md md:py-16 md:p-8">
		<div class="max-w-screen-lg mx-auto">
			<a href="{{ path('app_subscription_checkout')}}" class="self-end px-3 py-2 transition-all duration-200 ease-in-out bg-green-700 rounded-md hover:bg-green-600 w-fit text-slate-50">
				{{ ux_icon('mdi:coffee-outline', { 'class': 'h-5 w-5 text-slate-50 inline-block' }) }}
				{{'Go Premium'| trans }}
			</a>
		</div>
	</div>

{% endblock %}
