<section class="p-6 py-8 mt-8 rounded-md bg-gradient-to-r from-slate-700 to-slate-500 md:py-16 md:p-8">
	<div class="max-w-screen-lg mx-auto">
		<h1 class="text-4xl font-bold md:text-5xl text-slate-100">Learn building webapp with Symfony</h1>
		<p class="mb-4 text-base text-slate-100">
			Access a full online course to learn how to build applications with Symfony, the most popular PHP framework. You will learn how to build a applications that improves the lives of people around the world.</p>
		<a href="#" class="self-end px-3 py-2 transition-all duration-200 ease-in-out rounded-md bg-slate-100 hover:bg-violet-200 w-fit">
			Start learning
			<span class="hidden ml-2 text-violet-950 hover:inline-block">
				{{ ux_icon('mdi:arrow-right', { 'class': 'h-4 w-4' }) }}
			</span>
		</a>
	</div>
</section>
