<article class="col-span-1 md:col-span-2 bg-[#f5f2f0] rounded-md p-4 md:p-6 mb-4 flex flex-col border relative">
	<button class="absolute self-end px-3 py-2 text-sm transition-all duration-200 ease-in-out rounded-md bg-neutral-300 hover:bg-neutral-500 hover:text-white w-fit bottom-2 right-2">
		copy
	</button>
	<code class="language-html">{{ note.content|escape }}</code>
</article>
