<table>
	<th
		align='center'>
		{# <img src="{{ asset('img/test.svg')}}" alt='codeXpress' width='100'> #}
		<img src="https://th.bing.com/th/id/OIP.MgfkQ80RdbrN8tPQWvmWpAHaEK?rs=1&pid=ImgDetMain" alt='codeXpress' width='100'>

	</th>
	<tbody>
		{% block body %}{% endblock %}
	</tbody>
</table>
